doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css',
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
        link(rel="stylesheet", href="/css/style.css")
    
        title Edit Board
    body 
        include ./includes/header

        .container.mt-4.pd-100
            h1 Edit Board
            form.container.mt-4(method="POST" action=`/board/update/${boards._id}` enctype="multipart/form-data")
                .mb-3
                    label(for="board-title" class="form-label") Board title
                    input(type="text" class="form-control ipwidth_1" name="title" id="board-title" value=`${boards.title}`)
                    label(for="formFile" class="form-label mt-4") Default file input example
                    input.form-control.ipwidth(type="file" id="formFile" name="cover")

                button(type="submit" class="btn btn-primary") Update


        include ./includes/footer

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', 
    integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM', crossorigin='anonymous')
